html {
}

.asteriskField {
    display: none;
}

.alerte {
    text-align: center;
}

.connexion {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset {
    border: 1px solid gray;
    padding: 5px 2px 10px;
    margin: 5vmin 2px 2px;
}

.buttons_connexion {
    display: flex;
    justify-content: space-between;
    margin-top: 10vmin;
}

.centrer {
    text-align: center;
    justify-content: center;
    display: grid;
    padding-bottom: 5vh;
}

.card-custom {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.navbar {
    margin-bottom: 5vh;
}

.card-title-custom {
    display: flex;
    justify-content: space-between;
}

.nav-tabs {
    padding-left: 8vw;
}

.table td {
   text-align: center;
}

.table th {
    text-align: center;
}

.btn-centrer {
    display: flex;
    justify-content: space-evenly;
}

.titre {
    display: flex;
    justify-content: space-between;
}