<div class="card offset-1 col-10" id="publications">
    {% for publi in publications %}
        <div class="card card-custom">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="{% if publi.image %}
                                    {{ publi.image }}
                                    {% else %}
                                    {{ publi.technologie.image }}
                                {% endif %} "
                         alt="Logo-{{ publi.technologie.titre }}" style="width: 10vw">
                </div>
                <div class="card-body">
                    <div class="card-title-custom">
                        <a href="{% url 'publication' publi.technologie.titre publi.id %}"><h5
                                class="card-title">{{ publi.titre }}</h5></a>
                        <i id="{{ publi.id }}-p"
                           onclick="sauvegarder('{% url 'sauvegarder' request.user.username publi.id %}')"
                                {% if publi in sauvegardes %}
                           class="fas fa-star fa-3x"
                                {% else %}
                           class="far fa-star fa-3x"
                                {% endif %}></i>
                    </div>
                    <a href="{% url 'technologie' publi.technologie.titre %}">{{ publi.technologie.titre }}</a>
                    <p class="card-text">{{ publi.description }}</p>
                    <p class="card-text"><small
                            class="text-muted">{{ publi.datePublication | date }}</small>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>