{% extends 'ENIVeille/include/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    : Modifier {{ technologie.titre }}
{% endblock %}

{% block content %}
    <h1 class="centrer">Modification de {{ technologie.titre }}</h1>
    <form class="offset-2 col-8" action="{% url 'modifier_technologie' technologie.titre %}" method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <input class="btn btn-primary btn-block" type="submit" value="Valider">
    </form>
{% endblock %}