{% extends 'ENIVeille/include/main.html' %}

{% block title %}
{% endblock %}
{% block content %}
    <ul class="nav nav-tabs justify-content-around">
        <li class="nav-item">
            <a id="tout" class="nav-link active onglet" href="javascript:void(0);" onclick="chargerTout()">Tout</a>
        </li>
        <li class="nav-item">
            <a id="sauvegarde" class="nav-link onglet" href="javascript:void(0);" onclick="chargerSauvegarde()">Sauvegardé</a>
        </li>
        <li class="nav-item">
            <a id="abonnés" class="nav-link onglet" href="javascript:void(0);" onclick="chargerAbonnements()">Abonnés</a>
        </li>
    </ul>
    <div class="card offset-1 col-10">
        {% for publi in publications %}
            {% include 'ENIVeille/publication/publication.html' %}
        {% endfor %}
    </div>
{% endblock %}