{% extends 'ENIVeille/include/main.html' %}

{% block title %}
    : Liste des technologies
{% endblock %}
{% block content %}
    <h1 class="nom_technologie">Liste des technologies</h1>
    <div class="card offset-1 col-10">
        {% for technologie in technologies %}
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="{{ technologie.image }}"
                             alt="Logo-{{ technologie.titre }}" style="width: 10vw">
                    </div>
                    <div class="card-body">
                        <a href="{% url 'technologie' technologie.titre %}"><h5 class="card-title">{{ technologie.titre }}</h5></a>
                        <p class="card-text">{{ technologie.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}